/*
 * FONT VARIABLES
 */

$base-font-size: 16px;

/*
 * BREAKPOINTS
 */

$mobile-sm: 320px;
$mobile: 425px; //targetting android phones as standard
$tablet: 768px;
$desktop: 1366px;
$super-desktop: 1920px;


/*
 * GRID VARIABLES
 */
$default-grid-columns: 12;
$default-grid-gap: 0.5rem;

// this is the default container width
$container-width-default: 96%;

// Different container max-widths
$container-map: (
    'xl': 2560px,
    'lg': 1920px,
    'md': 1400px,
    'sm': 1280px,
    'xs': 1024px   
);

// list containing total columns for the grid
$columns: 1 2 3 4 5 6 7 8 9 10 11 12;

// list containing total rows for the grid
$rows: 1 2 3 4 5 6 7 8 9 10 11 12;