@import './settings/variables';
@import './settings/mixins';


// ALL JUNK CODE 
// TO BE REMOVED

.grid-item {
    border: 1px solid lightblue;
    background-color: lightblue;

    &:nth-child(even) {
        background-color: darkcyan        
    }
}