.d-grid {
    display: grid;
    grid-gap: 10px;
    &.autofit {
        grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
    }

    &.autofill {
        grid-template-columns: repeat(auto-fill, minmax(10em, 1fr));
    }
}

.container-sm,
.container-md,
.container-lg {
    width: $container-default-width;
    margin-left: auto;
    margin-right: auto;
}

.container-sm {
    @include for-screen('above-tablet') {
        width: $container-sm-width;
    }
}


// TEMP SHIT
.column {
    border: 1px solid grey;
    align-items: stretch;
}

.row {
    padding: 1em;
    border: 1px solid black;
}


