.grid-container {
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: repeat(12, 1fr);
}

.container {
    width: $container-width-default;
    margin:0 auto;

    @each $container-size-label, $container-size-value in $container-map {
        &.#{$container-size-label} {
            max-width: #{$container-size-value};
        }
    }    
}


.row {
    position: relative;
    padding: 1rem 0;
    // this makes the row span to the height of the column with maximum content
    grid-auto-rows: max-content; 
}

// These classes will span the item applied on 
// from their initial row position to the value used
@each $row in $rows {
    .row-span-#{$row} {
        grid-row-end: span #{$row}; 
    }
}



// Columns
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
    grid-column-end: span 12;
    padding: 1rem;
}


@each $column in $columns {
    .col-#{$column} {
        @include for-screen('above-tablet') {
            grid-column-end: span #{$column}; 
        }    
    }
}
